.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.task-list {
    width: 90%;
    margin: 1.5rem auto;
    /*font-weight: 300;*/
    /*font-size: 0.75em;*/
    border-collapse: collapse; /* 'collapse' allows adjacent cells to share borders - default is 'separated' */
}

.task-item {
    height: 3rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
