<h1>Task List</h1>

<form name="tasks.taskInput">
    <input type="text" ng-model="taskData.title"       placeholder="Enter a task"/>
    <input type="text" ng-model="taskData.description" placeholder="Enter a description"/>
    <select ng-options="option for option in tasks.options" ng-model="taskData.priority"></select>
    <input type='button' class='btn btn-default' ng-click='tasks.addTask(taskData)' value='Add Task'>
</form>

<ul>
    <li ng-repeat="item in tasks.list | orderBy: 'priority' " ng-hide="item.completed || item.expired">
        <span>{{ item.title }}</span>
        <input type="checkbox" ng-model="item.completed" ng-change="tasks.toggleComplete(item)"></input>
    </li>
</ul>
